@using HappyTesterWeb.Data.Enum
@model Ticket


<section class="section-container">
         <div class="content-wrapper">
            <div class="content-heading">Details</div>   
                <a asp-controller="userTicket" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-sm btn-primary" type="button">Users</a>
<div class="row">
   <div class="col-xl">
      <div class="card b">
         <div class="card-header">
            <div class="float-right">
                @{string COLOR = "light";}
                @switch(Model.TicketStatus)
                                        {
                                            case IssueStatusEnum.New:
                                            case IssueStatusEnum.Reopened:
                                                COLOR = "success"; break;

                                            case IssueStatusEnum.Closed :
                                                COLOR = "danger"; break;

                                            case IssueStatusEnum.Assigned:
                                            case IssueStatusEnum.Resolved:
                                            case IssueStatusEnum.Verified:
                                                COLOR = "warning"; break;                                                                                        }
                        
               <div class="badge badge-@COLOR">@Model.TicketStatus</div>
            </div>
            <h4 class="m-0">@Model.Title</h4>
            <small class="text-muted">#BT:@Model.Id</small>
         </div>
         <div class="card-body">

         </div>
         <table class="table">
            <tbody>
               <tr>
                  <td>
                     <strong>Description</strong>
                  </td>
                  <td>@Model.Description</td>
               </tr>
               <tr>
                  <td>
                     <strong>Project</strong>
                  </td>
                  <td>@Model.Project.Title</td>
               </tr>
               <tr>
                  <td>
                     <strong>Type</strong>
                  </td>
                  <td>@Model.IssueType</td>
               </tr>
               <tr>
                  <td>
                     <strong>Priority</strong>
                  </td>
                  <td>@Model.IssuePriority</td>
               </tr>
               <tr>
                  <td>
                     <strong>Start date</strong>
                  </td>
                  <td>01/01/2016</td>
               </tr>
               <tr>
                  <td>
                     <strong>Members</strong>
                  </td>
                  <td>
                      @foreach(var user in Model.AppUsers)
                      {
                     <a asp-controller="user" asp-action="Detail" asp-route-id="@user.Id" class="inline">
                        <img class="rounded-circle thumb24" src="@user.ProfileImageUrl" />
                     </a>
                      }
                  </td>
               </tr>
               <tr>
                 @* <td>
                     <strong>Leader</strong>
                  </td>
                  <td>
                     <a href="" data-toggle="tooltip" data-title="Team leader">
                        <img class="rounded-circle thumb24" src="/assets/angle/user/03-6bda9faf011df695e3a8dbd1d139f732a9f01c91772bc9b7e1aed1330ca09279.jpg" alt="project member" />
                     </a>
                  </td>*@
               </tr>
               
            </tbody>
         </table>
        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
        {
            <div class="card-footer text-center">
                <a asp-controller="ticket" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary ">Manage ticket</a>
             </div>
         }
      </div>
   </div>

@*   <div class="col-xl-6">
      <div class="card b">
         <div class="card-header">
            <div class="float-right">
               <div class="badge badge-info">started</div>
            </div>
            <h4 class="m-0">Project #2</h4>
            <small class="text-muted">Sed amet lectus id.</small>
         </div>
         <div class="card-body">
            <div class="d-flex align-items-center">
               <div class="w-100" data-toggle="tooltip" data-title="Health">
                  <div class="progress progress-xs m-0">
                     <div class="progress-bar bg-success" style="width:80%;"></div>
                  </div>
               </div>
               <div class="wd-xxs text-right">
                  <div class="text-bold text-muted">80%</div>
               </div>
            </div>
         </div>
         <table class="table">
            <tbody>
               <tr>
                  <td>
                     <strong>Start date</strong>
                  </td>
                  <td>02/01/2016</td>
               </tr>
               <tr>
                  <td>
                     <strong>Members</strong>
                  </td>
                  <td>
                     <a class="inline" href="#">
                        <img class="rounded-circle thumb24" src="/assets/angle/user/02-8a109a16a60ca1bfd78e1880b266ef4a6525df857fc76ec5a10d7166ba5078ea.jpg" alt="project member" />
                     </a>
                     <a class="inline" href="#">
                        <img class="rounded-circle thumb24" src="/assets/angle/user/04-30572875ea483f884e565f55eb93236c23b3df72e2fb7f26fc13b18303c5dc5c.jpg" alt="project member" />
                     </a>
                     <a class="inline" href="#">
                        <img class="rounded-circle thumb24" src="/assets/angle/user/05-e22682a5063e5a2eb16cd5da54987856c349c7cde3da0105a61e530a3dc11957.jpg" alt="project member" />
                     </a>
                     <a class="inline" href="#">
                        <img class="rounded-circle thumb24" src="/assets/angle/user/06-5ba607c03b0d678078903e0ff90d5b114bf4b5c2250ff374ee243e1527ac06c3.jpg" alt="project member" />
                     </a>
                     <a class="inline" href="#">
                        <strong>+6</strong>
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Leader</strong>
                  </td>
                  <td>
                     <a href="" data-toggle="tooltip" data-title="Team leader">
                        <img class="rounded-circle thumb24" src="/assets/angle/user/03-6bda9faf011df695e3a8dbd1d139f732a9f01c91772bc9b7e1aed1330ca09279.jpg" alt="project member" />
                     </a>
                  </td>
               </tr>
               <tr>
                  <td>
                     <strong>Metrics</strong>
                  </td>
                  <td>
                     <div class="inline mr-2" data-sparkline="" data-values="20,80" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#23b7e5&quot;]"></div>
                     <div class="inline mr-2" data-sparkline="" data-values="60,40" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#27c24c&quot;]"></div>
                     <div class="inline" data-sparkline="" data-values="90,10" data-type="pie" data-height="24" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#ff902b&quot;]"></div>
                  </td>
               </tr>
            </tbody>
         </table>       
            <div class="card-footer text-center">
                <a class="btn btn-secondary" type="button">Manage project</a>            
            </div>         
      </div>
   </div>  *@ 
         
</div>
</div>
</section>