@using HappyTesterWeb.Data.Enum
@using Microsoft.AspNetCore.Identity
@using HappyTesterWeb.ViewModels
@inject SignInManager<AppUser> SignInManager

@model DashboardViewModel


<section class="section-container">
         <div class="content-wrapper">
            <div class="content-heading">Projects</div>
<div class="row">
<div class="col-xl">
      <div class="mb-3 d-flex">
         <div>
            <a asp-controller="Project" asp-action="Create" class="btn btn-sm btn-info" type="button">New project</a>
         </div>
@*         <div>
            <a asp-controller="UserProject" asp-action="Index" asp-route-projectId="@Model.Id" class="btn btn-sm btn-primary" type="button">Users</a>
         </div> *@
      </div>
      <div class="card b">
         <div class="card-body">
            <table class="table w-100" id="datatable1">
               <thead>
                  <tr>                     
                     <th>#ID</th>
                     <th>Title</th>
                     <th>Description</th>
                     <th>Users</th>
                     <th>Tickets</th>
                     <th></th>
                  </tr>
               </thead>
               @foreach(var item in Model.Projects)
               {         string COLOR = "light";               
               <tbody>
                  <tr>
                     <td>BP:@item.Id</td>
                     <td>
                         <a asp-controller="Dashboard" asp-action="Detail" asp-route-projectId="@item.Id" class="text-nowrap">@item.Title</a>
                     </td>                  
                     <td>
                         @item.Description
                     </td>  
                     <td>
                        @foreach(var user in item.AppUsers)
                        {
                     <a asp-controller="User" asp-action="Detail" asp-route-id="@user.Id" class="inline">

                        <img class="rounded-circle thumb24" src="@user.ProfileImageUrl" alt="user" />
                        
                     </a>
                        }
                         
                     </td>
                     <td>
                        @ViewBag.TicketCount
                     </td>
                     <td>
                                <a asp-controller="project" asp-action="Edit" asp-route-projectId="@item.Id" >

                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>

                                </a>
                            
                     </td>
                     <td>
                                <a asp-controller="UserProject" asp-action="Index" asp-route-projectId="@item.Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                    </svg>
                                </a>
                     </td>
                            
                     <td>                                                 
                          <!-- Button trigger modal -->
                          @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                            {
                                <a type="button" data-bs-toggle="modal" data-bs-target="#deleteModal-@item.Id" >

                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                    </svg>

                                </a>
                            }
                                            <!-- Modal -->
                        <div class="modal fade" id="deleteModal-@item.Id" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                             <div class="modal-header">
                             <b class="modal-title" id="deleteModalLabel">Delete project</b>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                            <div class="modal-body">Are you sure you want to delete "@item.Title"?</div>                           
                            <div class="modal-footer">
                             <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                             <form method="post" asp-action="Delete" asp-route-id="@item.Id" >
                             <button type="submit" class="btn btn-danger">Delete</button>
                             </form>
                            </div>
                            </div>
                        </div>
                        </div>
                     </td>
                  </tr>
               </tbody>
               }
            </table>
         </div>
      </div>
   </div>
</div>
         </div>
      </section>