@using HappyTesterWeb.ViewModels
@model ProfileDashboardViewModel



<div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="@Model.ProfileImageUrl" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>@Model.FirstName @Model.LastName</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @Model.FirstName @Model.LastName
                    </div>
                  </div>
                  <hr>
                    <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Username</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          @Model.UserName
                        </div>
                    </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @Model.Email
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @Model.PhoneNumber
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a asp-controller="user" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit profile</a>
                      <a asp-controller="user" asp-action="EditPassword" asp-route-id="@Model.Id" class="btn btn-secondary">Change password</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Projects</h6>
                      @foreach(var project in Model.Projects)
                      {
                      <div class="margin-auto">
                      <a asp-controller="project" asp-action="Detail" asp-route-projectId=@project.Id>@project.Title</a>                      
                      </div>
                      }
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Tickets</h6>
                      @foreach(var ticket in Model.Tickets)
                      {
                       <div class="margin-auto">
                            <a asp-controller="ticket" asp-action="Detail" asp-route-id=@ticket.Id>@ticket.Title</a>                             
                       </div>  
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>